@import 'mixins';
@import 'forms';
@import 'components';
@import 'bootstrap';
@import 'angular';

$color-footer-text: #999;
$color-footer-hover-text: #3399f3;
$color-footer-hover-icons: #337bd5;
$color-tooltip-title: #fff;
$color-tooltip-title-border: #9b9b9b;

body {
  cursor: default;
  font-family: 'PT Sans', sans-serif;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  &:first-of-type {
    margin-top: 10px;
  }
}

.container {
  max-width: 100%;
  min-width: 100%;
}

.main-container {
  margin-bottom: 30px;
  margin-top: 50px;
}

header .navbar-nav {
  float: none;
}

.no-select {
  @include no-select();
}

.pagination {
  margin: 0;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.tooltip {
  .title {
    border-bottom: 1px solid $color-tooltip-title-border;
    color: $color-tooltip-title;
    margin: 3px 0 5px;
    padding: 0;
  }

  .tooltip-inner {
    text-align: left;
  }
}
