<form class="form-vertical" role="form" name="measurementForm"
    data-ng-submit="addMeasurement()"
>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group" style="margin-top: 10px;">
                <input type="text" class="form-control" required="required" name="title" placeholder="Enter measurement title"
                    data-ng-model="measurement.title"
                />
            </div>

            <div class="form-group">
                <textarea name="measurement.description" class="form-control editable-textarea" required="required" placeholder="Enter measurement description"
                    data-ng-model="measurement.description"
                >{measurement.description}</textarea>
            </div>

            <div class="visible-lg">
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!measurementForm.$valid"
                >
                    Save
                </button>
            </div>
        </div>

        <div class="col-lg-4">
            <h4 class="text-muted">Information</h4>
            <table class="table">
                <tr>
                    <th style="vertical-align: middle;">Sensor</th>
                    <td>
                        <select name="sensor" class="form-control" required="required"
                            data-ng-model="measurement.sensor"
                            data-ng-options="sensor.id as sensor.name for sensor in sensors"
                        >
                            <option value="">Select an sensor</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Timestamp</th>
                    <td>
                        <datepicker
                            data-ng-model="measurement.timestamp"
                            data-min-mode="year"
                            data-datepicker-mode="'year'"
                        ></datepicker>
                    </td>
                </tr>
            </table>

            <div class="hidden-lg">
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!measurementForm.$valid"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
